{% extends "base.html" %}
{% block content %}
        <h2>You are a customer at your IoT Device Registration page!</h2>
		
		<form action="" method="POST" name="form">
            <div class="col-md-4 col-md-offset-4">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label class="control-label" for="appname">IoT Device Name</label>
                    {{ form.IoT_device_name }}
                </div>
                 <div class="form-group">
                    <label class="control-label" for="description">MAC Address</label>
                    {{ form.macAddress }}
                </div>
				<div class="checkbox disabled">
					<label for="isActivated">Activate Device !</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{{ form.isActivated }}
				</div>
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
		
		
		
		
{% endblock %}